urllib3==1.26.18
six==1.16.0
pandas
yfinance
ta
beautifulsoup4
streamlit
finnhub-python
plotly
pandas
openai
requests
rich
alpaca-trade-api
typing
alpaca-py
asyncio
streamlit_autorefresh
tensorflow
scikit-learn
